<plugin name='knockoutjs' version='(koStable + .0)' grailsVersion='1.3.0 &gt; *'>
  <author>Igor Aguiar Rodrigues</author>
  <authorEmail>igor@geocontrol.com.br</authorEmail>
  <title>Knockoutjs for Grails</title>
  <description>Provides necessary Javascript files for using Knockoutjs (http://knockoutjs.com/) with grails.
Stable knockoutjs version: $koStable
</description>
  <documentation>http://grails.org/plugin/grails-knockoutjs</documentation>
  <type>KnockoutjsGrailsPlugin</type>
  <resources>
    <resource>KnockoutPluginResources</resource>
    <resource>br.com.geocontrol.grails.plugin.ko.KoTagLib</resource>
  </resources>
  <repositories />
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>